# requirements.txt

# Main Framework
streamlit
plotly

# Hugging Face Ecosystem (PyTorch-based)
transformers
datasets
huggingface_hub
peft
accelerate
bitsandbytes
torch

# Core ML & Data Handling
scikit-learn
pandas

# Visualization & Logging
matplotlib
seaborn
tensorboard
